{% extends "parking/base.html" %}
{% block page_content %}
  <div style="display:none;" id="placeid">{{ placeid }}</div>
  <div class="pageContentWrapper"> 
      
      <div class="headerBreak headerBreakTitleBottom"></div>
      
      <!-- page title starts -->
      <center><h2 class="pageTitle">停车场管理</h2></center>
      <!-- page title ends -->
      
      <!-- one half start -->
      <div class="columnWrapper oneHalf">
        <a href="" class="buttonWrapper buttonBlue buttonLocation" id="carin">进</a>
      </div>
      <div class="columnWrapper oneHalf lastColumn">
        <a href="" class="buttonWrapper buttonGreen buttonArrowRight" id="carout">出</a>
      </div>
      <!-- one half end -->

    </div>
{% endblock %}
{% block inscript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/control.js') }}"></script>
{% endblock %}

