.gallery1, .gallery2, .gallery3, .gallery4, .gallery5 { list-style: none; padding: 0; margin: 0; }
.gallery1:after, .gallery2:after, .gallery3:after, .gallery4:after, .gallery5:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery1 li a, .gallery2 li a, .gallery3 li a, .gallery4 li a, .gallery5 li a { display: block; margin: 2px; }

.gallery1 li, .gallery2 li, .gallery3 li, .gallery4 li, .gallery5 li { margin:0 0 0 0 !important; }

.gallery1 li img, .gallery2 li img, .gallery3 li img, .gallery4 li img, .gallery5 li img {
	display: block; width: 100%; height: auto;

	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	-ms-transition: all .15s ease;
	transition: all .15s ease;
}

.gallery1 li img:hover, .gallery2 li img:hover, .gallery3 li img:hover, .gallery4 li img:hover, .gallery5 li img:hover {
	-webkit-transform: scale(1.17);
	-moz-transform: scale(1.17);
	-ms-transform: scale(1.17);
	-o-transform: scale(1.17);
	transform: scale(1.17);
	
	-moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}


.gallery1 li { float: left; width: 100%; }
.gallery2 li { float: left; width: 50%; }
.gallery3 li { float: left; width: 33.33333333%; }
.gallery4 li { float: left; width: 25%; }
.gallery5 li { float: left; width: 20%; }